h1 {
  color: #b59e7e;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  top: -5px;
  left: 105%;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.noborder > td {
  border: 0;
}

.alt > td {
  padding-left: 3px;
  padding-right: 3px;
}

.alt > td:nth-child(even) {
  background-color: #dddddd;
}

.alt > td:nth-child(odd) {
  background-color: #ffffff;
}

.alt > td:nth-child(n + 1) {
  width: 15px;
}

.centertext {
  text-align: center;
}
