header {
  position: relative;
}

.title {
  color: #b59e7e;
  font-weight: bold;
  font-size: 2em;
  margin: 0px;
  position: relative;
  width: 180px;

  top: -30px;
  left: 100px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

.spell > td,
th {
  border: 0;
  text-align: left;
  padding: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  top: -5px;
  left: 105%;

  position: absolute;
  z-index: 1;
}

.tooltip .tooltipspell {
  visibility: hidden;
  width: 375px;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;

  top: 0;
  right: 0;

  position: fixed;
  z-index: 1;
}

.tooltip .adjust {
  top: -105px;
  width: 250px;
}

.tooltip .adjust2 {
  top: -25px;
  width: 200px;
}

.tooltip .adjust3 {
  top: 25px;
  left: -100px;
  width: 200px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover .tooltipspell {
  visibility: visible;
}

.noborder > td {
  border: 0;
}

.alt > td {
  padding-left: 3px;
  padding-right: 3px;
}

.alt > td:nth-child(even) {
  background-color: #dddddd;
}

.alt > td:nth-child(odd) {
  background-color: #ffffff;
}

.alt > td:nth-child(n + 1) {
  width: 15px;
}

.centertext {
  text-align: center;
}

footer {
  position: relative;
}

.imagetop {
  float: left;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.imageleft {
  width: 75px;
  height: 75px;
}

.imageright {
  width: 75px;
  height: 75px;
}

.footerlinks {
  display: flex;
  flex-direction: column;

  /* height: 83.33px; */
  /* line-height: 15px; */
  margin-bottom: 0px;
  margin-top: 0px;
}

.linkrow {
  margin-bottom: 12px;
  margin-top: 15px;
}

.linkrow2 {
  margin-bottom: 13px;
}

.upshift {
  position: relative;
  top: -20px;
}
