h4 {
  font-family: "Ondine Regular", "ondineregular", serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 2px;
}

.imageleft {
  width: 75px;
  height: 75px;
  float: left;
}

.imageright {
  width: 75px;
  height: 75px;
  float: right;
}

.footerlinks {
  height: 83.33px;
  line-height: 83.33px;
}
